@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
  --ff-primary: 'Montserrat', sans-serif;
  --clr-purple: #6d48e5;
  --clr-darkblue: #364655;
  --clr-bluegray: rgb(129, 129, 152);
  --clr-white: #f6f6fd;
  --clr-gray: #97a6b5;
  --opacity: rgba(0,0,0,.6);
}

*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-primary);
  font-weight: 500;
}
img {
  max-width: 100%;
}
a{
  text-decoration: none;
}
p{
  color: var(--clr-bluegray);
}
section {
  padding: 70px 0;
  text-align: center;
}
.container {
  max-width: 920px;
  margin: 0 auto;
}
.section-title {
  color: var(--clr-darkblue);
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.2;
  font-size: 1.75rem;
}
.section-desc {
  width: 65%;
}
.btn {
  background-color: var(--clr-purple);
  color: var(--clr-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--ff-primary);
  border: 1px solid var(--clr-purple);
}
.btn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0,.2);
  border: 1px solid transparent;
  outline: none;
  transition: box-shadow .5s ease-in-out;
}
.btn--small {
  text-transform: capitalize;
  padding: 6px 10px;
}
.btn--big {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 8px 27px;
  font-size: 0.75rem;
}

.logo {
  color: var(--clr-purple);
  font-weight: 600;
}
.hover-underline::after {
  content: '';
  height: 1px;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: var(--clr-purple);
  transition: width .2s ease-in-out;
}
.hover-underline:hover::after {
  width: 100%;
}
.scroll-top {
  background-color: var(--clr-purple);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.scroll-top a {
  color: #fff;
  font-size: .75rem;
  font-weight: 700;
}
/* HEADER / NAV */
.header {
  box-shadow: 0 2px 3px 0 rgba(96, 96, 96, 0.1);
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 10;
}
.nav {
  display: flex;
  align-items: center;
  padding: 20px 40px;  
}

.nav__list {
  margin-left: auto;
  display: flex;
  list-style: none;
}
.nav__item {

}
.nav__item + .nav__item{
  margin-left: 30px;
}
.nav__link {
  font-size: 13px;
  color: var(--clr-darkblue);
}
.nav__link:hover {
  color: var(--opacity);
  transition: color .2s ease-in-out;
}
.nav__btn {
  margin-left: 30px;
  font-size: 13px;
}
/* home section */
.home {
  padding-top: 160px;
}
.home__content {
  display: flex;
  flex-direction: column;
}
.home__img {
  width: 80%;
  margin-bottom: 25px;
  align-self: center;
}
.home__paragraph {
  margin-bottom: 25px;
}
.sponsors {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}
.sponsor {
  width: 100px;
  cursor: pointer;
  opacity: .9;
}
.sponsor:hover {
  opacity: .7;
}
.home__content button {
  align-self: center;
}
/* product section */
.products {
  background-color: var(--clr-white);
}
.product__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.products-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product {
  max-width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.product__text {
  max-width: 600px;
  margin-bottom: 50px;
}
.product__img-container {
  width: 65px;
  height: 65px;
  background-color: #ece7fe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__img {
  width: 35px;
}
.product__title {
  color: var(--clr-darkblue);
  font-weight: 500;
  line-height: 1;
  font-size: 1.3125rem;
  margin: 22px 0;
}
.product__paragraph {
  font-size: 15px;
  line-height: 1.6;
}

/* feature section */
.features {

}
.features__content {

}
.features__headings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.feature__paragraph {

}
.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature__title {
  font-size: 1.5rem;
  line-height: 1.3;
  color: var(--clr-darkblue);
  font-weight: 600;
}
.feature_headings {
  margin-bottom: 35px;
}
.feature__desc {
  width: 65%;
}
.feature + .feature {
  margin-top: 80px;
}
.feature__text {
  width: 40%;
  text-align: left;
}
.feature__img {
  width: 50%;
}
.feature__paragraph {
  margin: 25px 0;
  width: 75%;
}
.feature__btn {
  color: #8798ab;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: var(--ff-primary);
  position: relative;
}
.feature__btn::after {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  width: 70%;
  bottom: -5px;
  background-color: #8798ab;
  transition: width .2s ease-in-out;
}
.feature__btn:hover::after {
  width: 85%;
}

/* counter section */
.counter {
  background-color: var(--clr-purple);
  color: var(--clr-white);
}
.counter__content {

}

.counter__headings h2, .counter__desc {
  color: var(--clr-white);
}
.counters {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}
.count {
  display: flex;
  flex-direction: column;
}
.count__percent {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.count__desc {
  font-size: 0.875rem;
}
.counter__btn {
  font-weight: 500;
  font-size: 0.9375rem;
  font-family: var(--ff-primary);
  cursor: pointer;
  border: none;
  color: var(--clr-white);
  background: none;
  position: relative;
}
.counter__btn::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: var(--clr-white);
  position: absolute;
  bottom: -2px;
  left: 0;
}

/* stats section */
.stats {

}
.stats__content {
  display: flex;
  justify-content: space-between;
}
.info__container {
  width: 40%;
}
.stats__img {
  width: 55%;
}
.info {
  display: flex;
  justify-content: space-between;
}
.info + .info {
  margin-top: 20px;
}
.info__img {
  width: 30px;
  height: 30px;
}
.info__text {
  text-align: start;
  margin-left: 30px;
}
.info__title {
  color: var(--clr-darkblue);
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.info__paragraph {
  color: var(--clr-gray);
  font-size: 0.9375rem;
  line-height: 1.6;
}

/* reviews section */
.reviews {
  background-color: #f6f6fd;
}
.reviews__content {

}
.reviews__headings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.reviews__desc {
  width: 65%;
}
.slide {
  display: flex;
  justify-content: center;
}
.slide__text {
  background-color: var(--clr-purple);
  width: 40%;
  padding: 50px;
}
.quote {
  font-size: 1.125rem;
  color: var(--clr-white);
  line-height: 1.5;
  font-weight: 500;
  text-align: left;
}
.person {
  padding: 50px;
  width: 40%;
  background-color: #fff;
}
.person__img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 25px;
}
.person__rating {

}
.person__rating .fa-star {
  color: #ffd703;
  font-size: .6rem;
  margin-bottom: 10px;
}
.person__name {
  font-size: 0.9375rem;
  line-height: 1.4;
  font-weight: 600;
  color: var(--clr-darkblue);
}
.person__role {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--clr-gray);
}
.person__company {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--clr-purple);
  position: relative;
}


/* pricing section  */
.pricing {

}
.pricing__content {

}
.pricing__headings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pricing__desc {
  width: 65%;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.card {
  width: 48%;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.1);
}
.card__title {
  color: var(--clr-purple);
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 1.3125rem;
}
.card__img {
  width: 60px;
  height: 60px;
}
.card__price {
  color: #364655;
  font-size: 2rem;
  margin: 20px 0;
}
.card__feature {
  font-size: 1rem;
  color: var(--clr-gray);
}
.card__feature + .card__feature {
  margin-top: 15px;
}
.card button {
  margin-top: 75px;
}

/* signup section */
.signup {
  background-color:var(--clr-white);
}
.signup__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup__headings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.signup__headings .section-title {
  line-height: 1.6;
  width: 78%;
}
.signup__desc {
  font-weight: 400;
  font-size: 0.8125rem;
  letter-spacing: 1px;
  color: #aeaeae;
}
.form {
  display: flex;
  flex-direction: column;
  min-width: 420px;
}
.form__input {
  font-size: 0.8125rem;
  padding: 15px 50px;
  font-family: var(--ff-primary);
  border-radius: 3px;
  color: var(--clr-purple);
  border: 1px solid var(--clr-purple);
  margin-bottom: 15px;
}
.form button {
  font-size: 0.875rem;
  padding: 15px 50px;
  margin-bottom: 15px;
}
.form__desc {
  font-size: 0.75rem;
  color: var(--clr-gray);
}

/* footer section */

.footer {
  background-color: var(--clr-white);
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.footer__content {
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.footer__content > * {
  width: 100%;
}
.copyright {
  font-size: .8125rem;
  color: var(--clr-gray);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.socials {
  display: flex;
  list-style: none;
  justify-content: end;
}
.socials__item {
  position: relative;
}
.socials__item + .socials__item {
  margin-left: 20px;
}
.socials__link{
  color: var(--clr-gray);
  font-size: .8125rem;
}