@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
  --ff-primary: 'Montserrat', sans-serif;
  --clr-purple: #6d48e5;
  --clr-darkblue: #364655;
  --clr-bluegray: rgb(129, 129, 152);
  --clr-white: #f6f6fd;
  --opacity: rgba(0,0,0,.6);
}

*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 500;
}
img {
  max-width: 100%;
}
a{
  text-decoration: none;
}
p{
  color: var(--clr-bluegray);
}
section {
  padding: 70px 0;
}
.container {
  max-width: 920px;
  margin: 0 auto;
}
.section-title {
  color: var(--clr-darkblue);
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.2;
  font-size: 1.75rem;
}

.btn {
  background-color: var(--clr-purple);
  color: var(--clr-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--ff-primary);
  border: 1px solid var(--clr-purple);
}
.btn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0,.2);
  border: 1px solid transparent;
  outline: none;
  transition: box-shadow .5s ease-in-out;
}
.btn--small {
  text-transform: capitalize;
  padding: 6px 10px;
}
.btn--big {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 8px 27px;
  font-size: 0.75rem;
}

/* HEADER / NAV */
.header {
  box-shadow: 0 2px 3px 0 rgba(96, 96, 96, 0.1);
}
.nav {
  display: flex;
  align-items: center;
  padding: 23px 40px;
}
.nav__logo {
  color: var(--clr-purple);
  font-weight: 600;
}
.nav__list {
  margin-left: auto;
  display: flex;
  list-style: none;
}
.nav__item {

}
.nav__item + .nav__item{
  margin-left: 30px;
}
.nav__link {
  font-size: 13px;
  color: var(--clr-darkblue);
}
.nav__link:hover {
  color: var(--opacity);
  transition: color .2s ease-in-out;
}
.nav__btn {
  margin-left: 30px;
  font-size: 13px;
}
/* home section */

.home__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home__img {
  width: 80%;
  margin-bottom: 25px;
  align-self: center;
}
.home__paragraph {
  margin-bottom: 25px;
}
.sponsors {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}
.sponsor {
  width: 100px;
  cursor: pointer;
  opacity: .9;
}
.sponsor:hover {
  opacity: .7;
}
.home__content button {
  align-self: center;
}
/* feature section */
.features {
  background-color: var(--clr-white);
}
.feature__content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.features-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature {
  max-width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.feature__text {
  max-width: 600px;
  margin-bottom: 50px;
}
.feature__img-container {
  width: 65px;
  height: 65px;
  background-color: #ece7fe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature__img {
  width: 35px;
}
.feature__title {
  color: var(--clr-darkblue);
  font-weight: 500;
  line-height: 1;
  font-size: 1.3125rem;
  margin: 22px 0;
}
.feature__paragraph {
  font-size: 15px;
  line-height: 1.6;
}